<% content_for :title, 'About'  %>
<h1>About</h1>
<article>
  <p>Flourish is a project aimed at promoting <a href="https://en.wikipedia.org/wiki/Universal_basic_income" target="_blank">Universal Basic Income (UBI)</a>.</p>
  <p>Currently it is just this <a href="https://github.com/cassar/flourish" target="_blank">web application</a> developed by <a href="https://www.linkedin.com/in/luke-cassar-17885a29/" target="_blank">some dude in Australia</a>.</p>
</article>
<%= render partial: 'dashboard/details' %>
<%= render partial: 'distributions/details' %>
<%= render partial: 'memberships/details' %>
<%= render partial: 'dividends/details' %>
<%= render partial: 'pay_outs/details' %>
<%= render partial: 'contributions/details' %>
