<article>
  <p><b>Total Pool</b>: <%= @total_pool %></p>
  <%= turbo_stream_from 'member_count' %>
  <p><b>Member Count</b>: <%= render partial: 'member_count' %></p>
  <p><b>Next Distribution</b>: <%= next_distribution_date_formatted %></p>
  <p><b>Next Dividend</b>: <%= @next_dividend_amount_formatted %></p>
</article>
<details>
  <summary>How does it work?</summary>
  <p>Members contribute what they can every week into a shared pool, and that pool is then divided at the end of the week equally between all members of the group.</p>
  <p>There is no minimum that members are required to give every week and anyone can join.</p>
  <p>Distributions will occur every week on a <%= DistributionDateService::DAY_OF_THE_WEEK %>.</p>
</details>
<nav>
  <%= link_to distributions_path, class: 'button' do %>
    Distributions
  <% end %>
  <%= render partial: 'authentication' %>
</nav>
