<main>
  <article>
    <%= turbo_stream_from 'member_count' %>
    <p><b>Member Count</b>: <%= render partial: 'member_count' %></p>
    <%= turbo_stream_from 'contribution_total' %>
    <p><b>Weekly Contributions</b>: <%= render partial: 'contribution_total' %></p>
    <p><b>Total Pool</b>: <%= @total_pool %></p>
    <%= turbo_stream_from 'dividend_amount' %>
    <p><b>Next Dividend Amount</b>: <%= render partial: 'dividend_amount' %></p>
    <%= turbo_stream_from 'dividend_date' %>
    <p><b>Next Dividend Date</b>: <%= render partial: 'dividend_date' %></p>
  </article>
  <nav>
    <%= render partial: 'member_buttons' %>
    <%= render partial: 'authentication' %>
  </nav>
</main>
