<main>
  <article>
    <p>
    <%= turbo_stream_from 'member_count' %>
    <%= render partial: 'member_count' %> members
    </p>
    <%= turbo_stream_from 'contribution_total' %>
    <p>Contributing a combined <%= render partial: 'contribution_total' %> per week</p>
    <%= turbo_stream_from 'dividend_amount' %>
    <p>To pay a dividend of <%= render partial: 'dividend_amount' %> per member</p>
    <%= turbo_stream_from 'dividend_date' %>
    <p>Next dividend paid <%= render partial: 'dividend_date' %></p>
  </article>
  <nav>
    <%= render partial: 'member_buttons' %>
    <%= render partial: 'authentication' %>
  </nav>
</main>
