<p class="amount"><strong><%= last_amount.amount_formatted %></strong></p>
<p class="amount-label"><i>Current Dividend</i></p>
<ul>
  <li><b>Date</b>: <%= created_at_formatted last_distribution %></li>
  <li><b>Distribution</b>: <%= last_distribution.name %></li>
  <li><b>Status</b>: <%= distribution_status dividend_statuses: last_distribution_dividends.pluck(:status) %></li>
  <li><b>Dividends</b>: <%= last_distribution_dividends.length %></li>
  <%= render 'distributions/aggregate_status_counts', disaggregate_status_counts: last_distribution_dividends.group(:status).count %>
</ul>
<%= link_to "Distribution", distribution_path(last_distribution), class: 'button' %>
