<p class="amount"><strong><%= next_distribution.dividend_amount_formatted(member.currency) %></strong></p>
<p class="amount-label"><i>Next Dividend</i></p>
<ul>
  <li><b>Date:</b> <%= next_distribution.date_formatted %></li>
  <li><b>Distribution:</b> <%= next_distribution.name %></li>
  <li><b>Members:</b> <%= next_distribution.member_count %></li>
  <li><b>Contributions:</b> <%= next_distribution.total_pool_formatted(member.currency) %></li>
</ul>
