<p><strong>Welcome!</strong></p>
<p>Flourish is a social change project encouraging us to rethink the way we interact with each other.</p>
<p><strong>How does it work?</strong></p>
<%= render partial: 'how_does_it_work' %>
<p><strong>What have been the results?</strong></p>
<p class="amount"><strong><%= next_distribution.member_count %></strong></p>
<p class="amount-label"><i>Participating Members</i></p>
<p class="amount"><strong><%= total_pool.total_contributed_and_recontributed_formatted(member.currency) %></strong></p>
<p class="amount-label"><i>in Contributions Received</i></p>
<p class="amount"><strong><%= total_pool.total_dividends_formatted(member.currency) %></strong></p>
<p class="amount-label"><i>in Dividends Issued</i></p>
<p class="amount"><strong><%= total_pool.total_paid_out_formatted(member.currency) %></strong></p>
<p class="amount-label"><i>in Cash Paid Out</i></p>
