<p><strong>Welcome!</strong></p>
<p>Flourish is a member funded Unconditional Universal Income project.</p>
<p>To date, our <%= next_distribution.member_count %> members have contributed and recontributed <%= total_pool.total_contributed_and_recontributed_formatted(member.currency) %> in funds, and the project has issued <%= total_pool.total_dividends_formatted(member.currency) %> in dividends with <%= total_pool.total_paid_out_formatted(member.currency) %> of that being paid out as cash to member's PayPal accounts.</p>
<strong>How does it work?</strong>
<%= render partial: 'how_does_it_work' %>
