<% content_for :title, 'About'  %>
<h1>About</h1>
<article data-controller="cooperative">
  <p><strong>Mission</strong></p>
  <p>Flourish is a project aiming to make it easier for everyone to support each other.</p>
  <p><strong>Flourishites</strong></p>
  <p>The project is supported by its <%= @active_member_count %> members and its <%= link_to 'lone web developer and admin', "https://www.linkedin.com/in/luke-cassar-17885a29/", target: "_blank" %>.</p>
  <p><strong>Development</strong></p>
  <p>The project is open source, and issues can be raises and discussed on our <%= link_to 'GitHub page', "https://github.com/cassar/flourish", target: "_blank" %></a>.</p>
  <p><strong>Get in Contact</strong></p>
  <p>If you are interested in helping Flourish grow, we'd love to hear from you at the below.</p>
  <p><i>Email:</i> <span data-cooperative-target="email"></span></p>
  <p><strong>Stay in Contact</strong></p>
  <p>If you would like to keep up to date with the project, simply <%= link_to 'sign up', new_user_registration_path %>, members receive a, 'Distribution Preview', email every <%= DistributionPreviewDateService::DAY_OF_THE_WEEK %> which has the latest Flourish news.</p>
</article>
<%= render partial: 'static_pages/details' %>
<%= render partial: 'devise/registrations/details' %>
<%= render partial: 'distributions/details' %>
<%= render partial: 'dividends/details' %>
<%= render partial: 'pay_outs/details' %>
<%= render partial: 'contributions/details' %>
<%= render partial: 'currencies/details' %>
<%= render partial: 'static_pages/costs' %>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
