<% content_for :title, 'About'  %>
<h1>About</h1>
<article data-controller="cooperative">
  <p>Flourish is a project aiming to make it easier for everyone to support each other. It, in turn, is supported by its <%= @active_member_count %> active members and its <a href="https://www.linkedin.com/in/luke-cassar-17885a29/" target="_blank">lone web developer and admin.</a></p>
  <p>If you would like to keep up to date with the project, simply <%= link_to 'sign up', new_user_registration_path %>, members receive a, 'Distribution Preview', every <%= DistributionPreviewDateService::DAY_OF_THE_WEEK %> which has the latest Flourish news.</p>
  <p>If you are interested in helping Flourish grow, we'd love to hear from you at the below.</p>
  <p><strong>Email:</strong> <span data-cooperative-target="email"></span></p>
</article>
<%= render partial: 'static_pages/details' %>
<%= render partial: 'devise/registrations/details' %>
<%= render partial: 'distributions/details' %>
<%= render partial: 'dividends/details' %>
<%= render partial: 'pay_outs/details' %>
<%= render partial: 'contributions/details' %>
<%= render partial: 'currencies/details' %>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
