<% content_for :title, 'Home'  %>
<article>
  <% if @last_distribution.present? && @unsettled %>
    <p><b>Current Distribution: <%= @last_distribution.name %></b></p>
    <ul>
      <li><b>Date</b>: <%= created_at_formatted @last_distribution %></li>
      <li><b>Status</b>: <%= distribution_status dividend_statuses: @last_distribution_dividends.pluck(:status) %></li>
      <li><b>Members</b>: <%= @last_distribution_dividends.length %></li>
      <li><b>Dividend</b>: <%= @last_amount.amount_formatted %></li>
      <%= render 'distributions/aggregate_status_counts', disaggregate_status_counts: @last_distribution_dividends.group(:status).count %>
    </ul>
  <% else %>
    <p><b>Next Distribution: <%= @next_distribution.name %></b></p>
    <ul>
      <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
      <li><b>Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
      <li><b>Members:</b> <%= @next_distribution.member_count %></li>
      <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
    </ul>
  <% end %>
</article>
<%= render partial: 'details' %>
<nav>
  <%= link_to 'About', about_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
