<main>
  <h1>Flourish</h1>
  <article>
    <p><span id="member_count"><%= @member_count %></span> members</p>
    <p>Contributing a combined <span id="contribution_total"><%= @contribution_total %></span> per week</p>
    <p>To pay a dividend of <span id="dividend_amount"><%= @dividend_amount %></span> per member</p>
    <p>Next dividend paid <span id="dividend_date"><%= @dividend_date %></span></p>
  </article>
  <%= render partial: 'paypal_buttons' %>
</main>
