<% content_for :title, 'Membership'  %>
<h1>Membership</h1>
<%= render partial: 'details' %>
<article>
  <p><strong><%= link_to 'Dividends', dividends_path %></strong>: Enabled</p>
  <ul>
    <li>
      <strong>Email</strong>: Confirmed 
    </li>
  </ul>
  <p>
  <strong><%= link_to 'Contributions', contributions_path %></strong> and <strong><%= link_to 'Pay Outs', pay_outs_path %></strong>: 
    <% if @member.pay_outs_disabled? %> 
      Not Enabled
    <% else %>
      Enabled
    <% end %>
  </p>
  <ul>
    <li>
      <strong>PayPal.Me Handle</strong>: 
      <% if @member.paypalme_handle.present? %>
        Entered (<%= link_to 'update', edit_paypalme_handle_path(@member) %>)
      <% else %>
        <%= link_to 'Enter', edit_paypalme_handle_path(@member) %>
      <% end %>
    </li>
  </ul>
</article>
<nav>
  <%= link_to 'Account', edit_user_registration_path, class: 'button' %>
  <%= link_to 'Distributions', distributions_path, class: 'button' %>
</nav>
