<h1>Membership</h1>
<article>
  <p>
  <strong><%= link_to 'Contributions', contributions_path %></strong>: Enabled
    <ul>
      <li>
        <strong>Reference</strong>:
        <%= @member.contribution_reference %>
      </li>
    </ul>
  </p>
  <p><strong><%= link_to 'Dividends', dividends_path %></strong>: Enabled</p>
  <ul>
    <li>
      <strong>Email</strong>: 
      <% if current_user.confirmed? %>
        Confirmed 
      <% else%>
        Unconfirmed 
      <% end %>
    </li>
  </ul>
  <p>
  <strong><%= link_to 'Pay Outs', pay_outs_path %></strong>: 
    <% if @member.payid.present? %> 
      Enabled
    <% else %>
      Not Enabled
    <% end %>
  </p>
  <ul>
    <li>
      <strong>PayID</strong>: 
      <% if @member.payid.present? %>
        Entered (<%= link_to 'update', edit_payid_path(@member) %>)
      <% else %>
        <%= link_to 'Enter', edit_payid_path(@member) %>
      <% end %>
    </li>
  </ul>
</article>
<nav>
  <%= link_to edit_user_registration_path, class: 'button' do %>
    Account
  <% end %>
</nav>
