<% content_for :title, "Admin" %>
<h1>Members</h1>
<% if @members.any? %>
  <article>
    <p><b>Total Members:</b> <%= @total_member_count %></p>
  </article>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Last Sign In</th>
        <th>PayPalMe ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.user.email %></td>
          <td><%= member.user.last_sign_in_at&.strftime('%a, %d %b %Y %H:%M:%S') %></td>
          <td><%= link_to(member.paypalmeid, paypalme_url(paypalmeid: member.paypalmeid)) unless member.paypalmeid.nil? %></td>
          <td>
            <% if action_name == 'inactive' %>
              <%= button_to "Delete Account", admin_user_path(member.user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
            <% else %>
              <%= link_to "New Contribution", new_admin_member_contribution_path(member) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <article>
    <p>No Members.</p>
  </article>
<% end %>
