<% content_for :title, 'Account'  %>
<h1>Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </p>

  <p>
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </p>

  <%= f.submit "Update" %>
<% end %>

<div class="notice">
  <p><strong>Email Notification Preferences</strong></p>
  <ul class='notification_preferences'>
    <% resource.member.notification_preferences.order(:notification_name).each do |notification| %>
      <li><%= "#{notification_emoji notification.enabled} #{notification.notification_name.titleize}" %></li>
    <% end %>
  </ul>
  <%= link_to "Edit", notification_preferences_path, class: 'button' %>
</div>

<div class="notice">
  <p><strong>Log Out</strong></p>
  <p>Log out of this session.</p>

  <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
</div>

<div class="notice">
  <p><strong>Delete Account</strong></p>
  <p>Delete all account information.</p>

  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>

