<main>
  <h1>Deactivate</h1>
  <%= turbo_frame_tag "contribution" do %>
    <article>
      <p>
        As you are currently contributing <%= @member.contribution_amount_formatted %> per week, decativating now would: 
      </p>
      <ul>
        <li><%= @direction_of_amount_change_message %></li>
        <li><%= @direction_of_time_change_message %></li>
      </ul>
    </article>
  <% end %>
  <%= button_to "Deactivate", inactivation_path, method: :patch %>
</main>
