<article>
  <p><b>Date</b>: <%= created_at_formatted contribution %></p> 
  <ul>
    <li><b>Gross Amount</b>: <%= contribution.gross_amount_formatted %></li>
    <li><b>Less Fees</b>: <%= contribution.fees_formatted %></li>
    <li><b>Net Contributed</b>: <%= contribution.amount_formatted %></li>
    <li><b>Transaction ID</b>: <%= contribution.transaction_identifier %></li>
  </ul>
  <% if contribution.uuid %>
    <%= link_to 'Share', contribution_path(contribution.uuid), class: 'button' %>
  <% end %>
</article>
