<p>We have received your contribution.</p>
<ul>
  <li><b>Gross Amount</b>: <%= @contribution.gross_amount_formatted %></li>
  <li><b>Less Fees</b>: <%= @contribution.fees_formatted %></li>
  <li><b>Net Contributed</b>: <%= @contribution.amount_formatted %></li>
  <li><b>Transaction ID</b>: <%= @contribution.transaction_identifier %></li>
</ul>
<a><%= link_to "See your contributions", contributions_url %></a>
