<p>Hey Flourishites!</p>
<p>Started work on dedicated distribution pages on the weekend, <%= link_to "they're up", "https://flourish.buzz/distributions/24" %>, but they only have the summary modal on them so not very useful yet. However, the plan is to show a full breakdown of all information regarding a distribution: contributions, recontributions, pay outs, expenses etc.</p>
<p>One thing I'd also like to get to, which I think I've mentioned before, is the ability for members to "validate" their contribution or dividend, by posting a link to it in a public place they control. So maybe something like...</p>
<ul>
  <li>Copy link from Flourish, "https://flourish.buzz/dividends/5753A_HASH_ONLY_MEMBER_COULD_HAVE_4575"</li>
  <li>Post Somewhere, say Bluesky, "Hey I'm verifying that I got a dividend from Flourish", and add the link.</li>
  <li>Go back to Flourish, and paste the public link to the post</li>
</ul>

<p>You'd be able to see all the verifications on the distribution page. This would provide a way to publically audit the information on Flourish and increase confidence.</p>  
<p>Let me know what yous think!</p>
<p>-Luke-</p>
<p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
<ul>
  <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
  <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
  <li><b>Members:</b> <%= @next_distribution.member_count %></li>
  <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
</ul>
<a><%= link_to "View Past Distributions", distributions_url %></a>
<p><b>Recent Contributions</p></b>
<% if @recent_contributions.none? %>
  <p>[No contributions in the last week]</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.created_at_formatted %></td>
          <td><%= contribution.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><b>Weekly Expenses</p></b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount_formatted %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Deducted from Pool</b></td>
      <td><b><%= @total_expenses_formatted %></b></td>
    </tr>
  </tbody>
</table>
