<article>
  <p>Hey Flourishites!</p>
  <p>Work is underway on email notification preferences.</p>
  <p><strong>GitHub Issue:</strong><%= link_to " Email Notification Preferences for Members #131", "https://github.com/cassar/flourish/issues/131" %></p>
  <p>Also, a few design tweaks over the last week with changes to the home and about pages as well as a favicon for the browser tabs.</p>
  <p>I've been thinking a lot about how to explain the project without using the word "UBI" and have settled on the phrase "Social Change"; this was a bit of a breakthrough as lots of things that I had been thinking about all of a sudden slid into place and I didn't have to compare Flourish to other things out there. So the home screen now reads...</p>
  <p><i>Flourish is a social change project encouraging us to rethink the way we interact with each other.</i></p>
  <p>With that, I've started drafting a presentation I'd like to start giving and going on the the road with, think <%= link_to "this guy", "https://simpsons.fandom.com/wiki/Lyle_Lanley" %>, with feedback going into the development of the project, so watch this space.</p>
  <p>Hope you all continue to have a great start to the year!</p>
  <p>-Luke-</p>
</article>
<article>
  <p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
  <ul>
    <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
    <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
    <li><b>Members:</b> <%= @next_distribution.member_count %></li>
    <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
  </ul>
  <a><%= link_to "View Past Distributions", distributions_url %></a>
</article>
<article>
<p><b>Recent Contributions</p></b>
  <% if @recent_contributions.none? %>
    <p>[No contributions in the last week]</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @recent_contributions.each do |contribution| %>
          <tr>
            <td><%= contribution.created_at_formatted %></td>
            <td><%= contribution.amount_formatted %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</article>
<article>
  <p><b>Weekly Expenses</p></b>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.amount_formatted %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>Total Deducted from Pool</b></td>
        <td><b><%= @total_expenses_formatted %></b></td>
      </tr>
    </tbody>
  </table>
</article>
