<p>Hey Flourishites!</p>
<p>No changes this week... too busy doing coding take home challenges 😒</p>
<p>The bots seems to have let up a bit. I've been thinking of how to filter them out with a more elongated sign up flow with additional manual steps.</p>
<p>-Luke-</p>
<p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
<ul>
  <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
  <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
  <li><b>Members:</b> <%= @next_distribution.member_count %></li>
  <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
</ul>
<a><%= link_to "View Past Distributions", distributions_url %></a>
<p><b>Recent Contributions</p></b>
<% if @recent_contributions.none? %>
  <p>[No contributions in the last week]</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.created_at_formatted %></td>
          <td><%= contribution.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><b>Weekly Expenses</p></b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount_formatted %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Deducted from Pool</b></td>
      <td><b><%= @total_expenses_formatted %></b></td>
    </tr>
  </tbody>
</table>
