<p>Greetings Flourishites!</p>
<p>Have been thinking more on theme or mission and would like to start filling out the notification emails and site with the messaging to show how each transaction gets us closer on the journey.</p>
<p>I've kept the site a bit of a blank slate in terms of content, and obviously styling, hopeing that something of substance would emerge.</p>
<p>The main theme I've been focussing on recently is, "meaningful work", and I plan pushing it as an explantion for how we create strong institutions and lasting political change.</p> 
<p>"What about incentive!? What about inflation!!", answer, "meaningful work, will always get done, when you enable people to do it."</p>
<p>I've <%= link_to 'updated', 'https://github.com/cassar/flourish/commit/f6711a2a92823543986b6a7171aa32df148e4f12' %> the <%= link_to 'mission', 'https://flourish.buzz/mission' %> to reflect this.</p>
<p>All the best!</p>
<p>-Luke-</p>
<p>P.S. Hot tip, you can reply to any email notification with feedback, and they should all find their way back to me.</p>
<p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
<ul>
  <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
  <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
  <li><b>Members:</b> <%= @next_distribution.member_count %></li>
  <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
</ul>
<a><%= link_to "View Past Distributions", distributions_url %></a>
<p><b>Recent Contributions</p></b>
<% if @recent_contributions.none? %>
  <p>[No contributions in the last week]</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.created_at_formatted %></td>
          <td><%= contribution.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><b>Weekly Expenses</p></b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount_formatted %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Deducted from Pool</b></td>
      <td><b><%= @total_expenses_formatted %></b></td>
    </tr>
  </tbody>
</table>
