<p>Greetings Flourishites!</p>
<p>Will be doing a bit of a redesign to simplify things a bit.</p>
<p>The idea of "dividends" will disappear, I found the term was confusing people, "Dividends? That's got to do with shares, doesn't it!?".</p>
<p>Also, "Recontributions", 99% of which were automatic anyway, gone.</p>
<p>And "Distributions", going forward, members will be notified of a "Pay Out" on a Friday, and will have a window, till Tuesday, same as now, to actually pay out the funds.</p>
<p>This will also be the last distribution preview, and I'll be consolidating some of the other notifications too.</p> 
<p>It's been good, but I might find another way to stay in touch down the track</p>
<p>Everything will still work the same, I'm just pushing the mechanics down and out of sight.</p>
<p>All the best!</p>
<p>-Luke-</p>
<p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
<ul>
  <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
  <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
  <li><b>Members:</b> <%= @next_distribution.member_count %></li>
  <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
</ul>
<a><%= link_to "View Past Distributions", distributions_url %></a>
<p><b>Recent Contributions</p></b>
<% if @recent_contributions.none? %>
  <p>[No contributions in the last week]</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.created_at_formatted %></td>
          <td><%= contribution.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><b>Weekly Expenses</p></b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount_formatted %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Deducted from Pool</b></td>
      <td><b><%= @total_expenses_formatted %></b></td>
    </tr>
  </tbody>
</table>
