<p>Hey Flourishites!</p>
<p>Bit of a slow week for updates as I've returned back to (paid) work and am still adjusting. I did end up playing around with the email styling though, for better or worse.</p>
<p>I have been thinking about how to get the word out, and would love to keep doing more posts around the place, particularly as the development board gets smaller and smaller. The next thing I'd like to try is adding the most popular or most commented post to this preview as a regular section.</p>
<p>Happy Wednesday!</p>
<p>-Luke-</p>
<p><b>Distribution <%= @next_distribution.name %> Preview</b></p>
<ul>
  <li><b>Date:</b> <%= @next_distribution.date_formatted %></li>
  <li><b>Total Contributions:</b> <%= @next_distribution.total_pool_formatted(@member.currency) %></li>
  <li><b>Members:</b> <%= @next_distribution.member_count %></li>
  <li><b>Dividend:</b> <%= @next_distribution.dividend_amount_formatted(@member.currency) %></li>
</ul>
<a><%= link_to "View Past Distributions", distributions_url %></a>
<p><b>Recent Contributions</p></b>
<% if @recent_contributions.none? %>
  <p>[No contributions in the last week]</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.created_at_formatted %></td>
          <td><%= contribution.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><b>Weekly Expenses</p></b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount_formatted %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Deducted from Pool</b></td>
      <td><b><%= @total_expenses_formatted %></b></td>
    </tr>
  </tbody>
</table>
