<article>
  <p><b>Distribution: <%= dividend.distribution.name %></b></p> 
  <p class="amount"><strong><%= dividend.amount.amount_formatted %></strong></p>
  <p class="amount-label"><i>Dividend</i></p>
  <ul>
    <li><b>Date</b>: <%= created_at_formatted dividend %></li>
    <li><b>Status</b>: <%= dividend.status.titleize %></li>
  <% if dividend.pay_out_complete? %>
    <li><b>Transaction Identifier</b>: <%= dividend.pay_out.transaction_identifier %></li>
  <% end %>
  </ul>
  <% if dividend.issued? %>
    <%= button_to "Pay Out", pay_out_dividend_path(dividend), method: :patch, disabled: @member.pay_outs_disabled? %>
    <%= button_to "Recontribute", recontribute_dividend_path(dividend), method: :patch %>
  <% end %>
</article>
