<% content_for :title, "Distribution #{@distribution.name}"  %>
<h1>Distribution <%= @distribution.name %></h1> 
<article>
  <p class="amount"><strong><%= @distribution.default_amount.amount_formatted %></strong></p>
  <p class="amount-label"><i>Dividend</i></p>
  <ul>
    <li><b>Date</b>: <%= created_at_formatted @distribution %></li>
    <li><b>Status</b>: <%= distribution_status dividend_statuses: @distribution.dividends.pluck(:status) %></li>
    <li><b>Dividends</b>: <%= @distribution.dividends.length %></li>
    <%= render 'aggregate_status_counts', disaggregate_status_counts: @distribution.dividends.group(:status).count %>
  </ul>
</article>
<article>
  <ul>
    <li><b>Total Recontributions from Distribution <%= @previous_distribution.name %></b>: <%= @total_recontributions_formatted %></li>
  </ul>
</article>
<article>
  <h2>Dividend Amounts</h2>
  <table class="distribution-table">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @amounts.each do |amount| %>
        <tr>
          <td><%= amount.currency_name %></td>
          <td><%= amount.amount_formatted_without_currency %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
<article>
  <h2>Expenses</h2>
  <table class="distribution-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.amount_formatted %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>Total Deducted from Pool</b></td>
        <td><b><%= @total_expenses_formatted %></b></td>
      </tr>
    </tbody>
  </table>
</article>
<article>
  <h2>Contributions</h2>
  <% if @contributions.none? %>
    <p>[No contributions in the last week]</p>
  <% else %>
    <table class="distribution-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @contributions.each do |contribution| %>
          <tr>
            <td><%= contribution.created_at_formatted %></td>
            <td><%= contribution.amount_formatted %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</article>
