<% content_for :title, "Admin" %>
<h1>New Contribution for <%= @user.email %></h1>
<article>
  <p>This form will create a contribution for a member and also send them an email notification.</p> 
</article>
<%= form_with model: @contribution, url: preview_admin_member_contributions_path, method: :get, data: { turbo: false } do |form| %>
  <p>
    <%= form.label :amount_in_base_units %>
    <%= form.number_field :amount_in_base_units, step: 1, min: 0, required: true %>
  </p>
  <p>
    <%= form.label :fees_in_base_units %>
    <%= form.number_field :fees_in_base_units, step: 1, min: 0  %>
  </p>
  <p>
    <%= form.label :transaction_identifier %>
    <%= form.text_field :transaction_identifier, required: true %>
  </p>
  <%= form.submit "Preview" %>
<% end %>
