<% content_for :title, 'Admin'  %>
<h1>Distributions</h1>
<% if @distributions.any? %>
  <% @distributions.each do |distribution| %>
    <article>
      <p><b>Distribution <%= distribution.name %></b></p> 
      <ul>
        <li><b>Date</b>: <%= created_at_formatted distribution %></li>
        <li><b>Status</b>: <%= distribution_status dividend_statuses: distribution.dividends.pluck(:status) %></li>
        <li><b>Members</b>: <%= distribution.dividends.length %></li>
        <li><b>Dividend</b>: <%= distribution.dividend_amount_formatted %></li>
        <ul>
          <% distribution.dividends.group(:status).count.sort.each do |status, count| %>
            <li><i><%= status.titleize %></i>: <%= count %></li>
          <% end %>
        </ul>
      </ul>
      <% if (pending_payouts = distribution.dividends.select(&:pending_pay_out?)).any? %>
        <ul>
          <% pending_payouts.each do |dividend| %>
            <li><%= link_to 'Pay Out Requested', edit_admin_pay_out_path(dividend.pay_out) %></li>
          <% end %>
        </ul>
      <% end %>
    </article>
  <% end %>
<% else %>
  <article>
    <p>Distributions will appear here.</p>
  </article>
<% end %>
