<% content_for :title, 'Admin'  %>
<h1>Distributions</h1>
<% if @distributions.any? %>
  <% @distributions.each do |distribution| %>
    <article>
      <p><b>Date</b>: <%= created_at_formatted distribution %></p> 
      <p><b>Dividend Amount</b>: <%= distribution.dividend_amount_formatted %></p>
      <p><b>Members</b>: <%= distribution.dividends.length %></p>
      <% if (pending_payouts = distribution.dividends.select(&:pending_pay_out?)).any? %>
        <ul>
          <% pending_payouts.each do |dividend| %>
            <li><%= link_to dividend.status, admin_dividend_path(dividend) %></li>
          <% end %>
        </ul>
      <% end %>
      <ul>
        <% distribution.dividends.group(:status).count.each do |status, count| %>
          <li><%= status.titleize %>: <%= count %></li>
        <% end %>
      </ul>
    </article>
  <% end %>
<% else %>
  <article>
    <p>Distributions will appear here.</p>
  </article>
<% end %>
