<% content_for :title, 'Update PayPal.Me Handle' %>
<h1>PayPal.Me Handle</h1>
<details>
  <summary>What's a PayPal.Me Handle?</summary>
  <p>A <%= link_to 'PayPal.Me', 'https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me', target: '_blank' %> handle allows members to receive pay outs to their PayPal accounts.</p>
  <p>The handle is the identifier at the end of the link:</p>
  <p><i>https://www.paypal.com/paypalme/</i><mark>flourishbuzz</mark></p>
</details>
<%= form_with model: @member, url: paypalme_handle_path do |form| %>
  <article>
    <p>
      <span>PayPal.Me Handle:</span>
      <%= form.text_field :paypalme_handle %>
    </p>
  </article>
  <%= form.submit "Submit" %>
  <%= link_to 'Cancel', membership_path, class: 'button' %>
<% end %>
