<% content_for :title, "Admin" %>
<h1>Members</h1>
<% if @members.any? %>
  <article>
    <p><b>Total Members:</b> <%= @total_member_count %></p>
  </article>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Confirmed</th>
        <th>Last Sign In</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.user.email %></td>
          <td><%= member.user.confirmed_at&.strftime('%a, %d %b %Y %H:%M:%S') %></td>
          <td><%= member.user.last_sign_in_at&.strftime('%a, %d %b %Y %H:%M:%S') %></td>
          <td><%= link_to "New Contribution", new_admin_member_contribution_path(member) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <article>
    <p>No Members.</p>
  </article>
<% end %>
