<h1>Dividend: <%= @dividend.id %></h1>
<article>
  <p><b>Date</b>: <%= created_at_formatted @dividend %></p> 
  <p><b>PayID</b>: <%= @member.payid %></p>
  <p><b>Amount</b>: <%= @dividend.distribution.dividend_amount_formatted %></p>
  <p><b>Status</b>: <%= @dividend.status.titleize %></p>
  <%= form_with model: @dividend, url: admin_dividend_path, data: { turbo: false } do |form| %>
    <article>
      <p><span>Receipt</span>: <%= form.text_area :receipt %></p>
    </article>
    <%= form.submit "Submit" %>
  <% end %>
</article>
