<header>
  <h1>Flourish</h1>
</header>
<%= render 'layouts/flash' %>
<%= yield %>
<footer>
  <nav>
    <ul>
      <li><%= link_to 'Dashboard', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Membership', membership_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Dividends', dividends_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
