<!DOCTYPE html>
<html>
  <head>
    <title><%= title_text yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render layout_path %>
    <%= render 'layouts/footer' %>
  </body>
</html>
