<!DOCTYPE html>
<html>
  <head>
    <title><%= title_text yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if yield(:page_reload) %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="me" href="https://mastodon.social/@flourish_buzz">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render layout_path %>
    <%= render 'layouts/footer' %>
  </body>
</html>
